@model IEnumerable<Models.Entities.ReceiptResource>

@{
    ViewData["Title"] = "Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Archive</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resource)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitOfMeasurement)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentOfReceipt)
        </th>
        <th>
            Info
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Resource.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitOfMeasurement.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentOfReceipt.Number)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Activate" asp-route-id="@item.Id">Activate</a>
            </td>
        </tr>
    }
    </tbody>
</table>
