@model IEnumerable<Models.Entities.ResourceBalance>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resource.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitOfMeasurement.Id)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
        </td>
    </tr>
}